HUBCONFIG={ "rateLimit": 10000, "postRateLimit": 10000, "bitcoind": {"rpc":"http://[redacted]:[redacted]@localhost:8332"},"redis": { "port": 6379, "host": "localhost", "family": 4, "password": "moneyprintergobrrr", "db": 0 }, "lnd": { "url": "localhost:10009", "password":""}}
